<html ng-app="myChatRoom">
  <head
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  </head>
  <body>
  <div ng-controller="ChatCtrl">
    <div id="login">
      <span ng-show="auth.user">
        Hello {{auth.user.displayName}}...! | <a href="#" ng-click="auth.$logout()">Logout</a>
      </span>
      <a href="#" ng-hide="auth.user" ng-click="auth.$login('google')">Login</a>
    </div>
      <div ng-show="auth.user">
    <ul ng-repeat="message in messages" class="list-unstyled">
      <li><b>{{message.from.displayName}}</b> says  {{message.content}}</li>
    </ul>
    <form ng-submit="addMessage()">
      <input type="text" ng-model="message"/>
      <input type="submit" value="Send Message"/>
    </form>
    </div>
  </div>

  </body>
  <script type="text/javascript">
  	var app = angular.module("myChatRoom", ["firebase"]);

	app.factory("ChatService", ["$firebase", function($firebase) {
	  var ref = new Firebase("https://welfare.firebaseio.com/chat");
	  return $firebase(ref);
	}]);

	app.controller("ChatCtrl", ["$scope", "ChatService", "$firebaseSimpleLogin",
	  function($scope, chatService, $firebaseSimpleLogin) {
	  	var ref = new Firebase("https://welfare.firebaseio.com/");
	    $scope.auth = $firebaseSimpleLogin(ref);
	    $scope.messages = chatService;
	    $scope.addMessage = function() {
	      $scope.messages.$add({from: $scope.auth.user, content: $scope.message});
	      $scope.message = "";
	    };
	  }
	]);
  </script>
</html>
</html>
